<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"><![endif]-->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

	<title>포빅생명 - 최고를 향해</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icon/et-line-font.css') }}">

	<!-- reset CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	
	<!-- icon CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/Stroke-Gap-Icons.css') }}">

	<!-- Themify icons -->	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">

	<!-- Revelation Slider -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/testimonial.css') }}">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">

	<!-- Main style CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Responsive CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">



	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>

<body>

<!-- Start Loading -->

<section class="loading-overlay">
	<div class="Loading-Page">
		<h1 class="loader">Loading...</h1>
	</div>
</section>

<!-- End Loading  -->



<div class="content-wrap">
    <nav id="primary-menu" class="navbar style-1">
        <div class="row" style = "background-color:#FFC045;">
            <div class="container mobile-heading">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="/">
						<img src="{{ url_for('static', filename='images/logo/logo2.png')}}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
						<li>
							<a href="/" style = "font-size:1.45em;">HOME</a>
						</li>

                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size:1.3em; font-weight:bold">회사소개</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="about">포빅생명</a>
								</li>
								<li>
									<a href="our_agent">임원진</a>
								</li>

                            </ul>
                        </li>
                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size:1.3em; font-weight:bold">보험상품</a>
                            <ul class="dropdown-menu">
								<li>
									<a href="product_recommend">상품추천 서비스 <span class="new">New</span></a>
								</li>
                                <li>
                                    <a href="pricing_table">보험 상품</a>
								</li>
								<li>
                                    <a href="pension_product">퇴직 연금</a>
                                </li>
                                <li>
                                    <a href="insurance_product">보험계약 대출 서비스</a>
                                </li>
                            </ul>
                        </li>
                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size:1.3em; font-weight:bold">고객센터</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="FAQs">자주 묻는 질문</a>
                                </li>
                                <li>
                                    <a href="contact">찾아오시는길</a>
                                </li>

                            </ul>
                        </li>
                        <!-- li end -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
    </header>
    <!-- End  Header -->

		<!-- Start Pages Title  -->

		<section id="Page-title" class="Page-title-Style5">
			<div class="color-overlay"></div>
			<div class="container inner-img">
				<div class="row">
					<div class="Page-title">
						<div class="col-md-12 text-center">
							<div class="title-text">
								<h2 class="page-title">　<br>　<br>　<br>　<br>　<br>포빅생명 퇴직연금 상품<br>　<br>　<br>　</h2>
							</div>
						</div>
						<div class="col-md-12 text-center">
							<div class="breadcrumb-trail breadcrumbs">
								<span class="trail-begin"><a>원리금보장형, 안정형, 안정수익형, 수익형 등 다양한 상품을 만나보세요.</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- End Pages Title  -->

			<!-- Start welcome -->

			<section id="Welcome" class="light-wrapper">
				<div class="container inner">
					<div class="row">
						<div class="col-md-12">
							<div class="title-section text-left">
								<p>포빅생명</p>
								<h3>퇴직연금 상품</h3>
							</div>
							<div class="description-welcome text-left">
								<p> 더 상세한 안내가 필요하신가요? 다양한 상품 설명부터 상황, 목적에 맞는 연금상품 추천까지 연금전문 상담원이 도와드립니다.</p>
							</div>
						</div>
					</div>
					<div class="divcod55"></div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
							<div class="welcome_wrapper text-left">
								<div class="number">01.</div>
								<h5 style="font-weight:bolder">원리금보장형</h5>
								<p>　<br>원금손실 NO! 안정적 운용을 추구하는<br>원리금 보장형 상품<br>　</p>
								<a href="#" style="color:#FFC045; font-weight:bold">자세히 알아보기</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
							<div class="welcome_wrapper text-left">
								<div class="number">02.</div>
								<h5 style="font-weight:bolder">안정형</h5>
								<p>　<br>원금손실 최소화! 안정적 투자를 추구하는<br>안정형 상품　<br>　</p>
								<a href="#" style="color:#FFC045; font-weight:bold">자세히 알아보기</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
							<div class="welcome_wrapper text-left">
								<div class="number">03.</div>
								<h5 style="font-weight:bolder">안정수익형</h5>
								<p>　<br>수익을 위해서는 일정수준의 위험을 감수하는<br>안정수익형 상품<br>　</p>
								<a href="#" style="color:#FFC045; font-weight:bold">자세히 알아보기</a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3 col-md-3">
							<div class="welcome_wrapper text-left">
								<div class="number">04.</div>
								<h5 style="font-weight:bolder">수익형</h5>
								<p>　<br>위험을 감수하더라도 비교적 높은 수익을 추구하는 수익형 상품<br>　</p>
								<a href="#" style="color:#FFC045; font-weight:bold">자세히 알아보기</a>
							</div>
						</div>
					</div>
				</div>
			</section>
	
			<!-- End Our Welcome -->

					<!-- Start Typography Style -->

		<section id="Typography" class="light-wrapper">
			<div class="container inner">
				<div class="row">
					<div class="col-md-12">
						<div class="title-section text-left">
							<h3>투자성향에 맞게 상품을 선택하세요<br>　</h3>
						</div>
					</div>
						<div class="Headline-Text col-md-4">
							<h4><img alt="images" src="{{ url_for('static', filename='images/service/briefcase.png')}}">　이달의 포트폴리오</h4>
							<p>　<br>내 투자성향에 맞게 추천받는 맞춤 포트폴리오</p>
							<a href="#" style="color:#FFC045; font-size:0.85em; font-weight:bold">　<br>자세히 알아보기</a>
						</div>
						<div class="Headline-Text col-md-4">
							<h4><img alt="images" src="{{ url_for('static', filename='images/service/coin.png')}}">　원리금보장형</h4>
							<p>　<br>안정적 운용! 원금과 이자를 보장하는 상품</p>
							<a href="#" style="color:#FFC045; font-size:0.85em; font-weight:bold">　<br>자세히 알아보기</a>
						</div>
						<div class="Headline-Text col-md-4">
							<h4><img alt="images" src="{{ url_for('static', filename='images/service/stock.png')}}">　실적배당형</h4>
							<p>　<br>적극적 운용! 국내외 펀드 투자로 수익성 추구</p>
							<a href="#" style="color:#FFC045; font-size:0.85em; font-weight:bold">　<br>자세히 알아보기</a>
						</div>
				</div>
			</div>
		</section>

		<!-- End Typography Style -->

		<!-- Start Call To Action -->

		<div id="call_to_action" class="whitesmoke-wrapper">
			<div class="container inner-parallax">
				<div class="row">
					<div class="col-md-12">
						<div class="title-section text-left">
							<h3>퇴직연금에 가입해 보세요<br>　</h3>
						</div>
							<p style="color:black">소득이 있는 누구나,<br>
								IRP로 세제혜택을 받으며 노후를 준비할 수 있습니다.<br>
								IRP 가입하기 시작 전 공인인증서, 신분증을 준비해주세요.<br>
								가입 유형에 따라 추가서류 제출이 필요할 수 있으니, 가입 신청 완료 시 안내 사항을 꼭 확인하시기 바랍니다.<br>
								IRP 가입 시 가입 목적에 관계없이 퇴직금 수령과 개인부담금 입금 모두 가능합니다.<br>
								가입 목적은 가입 절차상 편의를 위해 선택하는 것으로 IRP는 금융기관별 1인 1건만 가입 가능합니다.<br>
								연금 외 수령 시 퇴직금은 퇴직소득세를, 소득 및 세액공제 받은 개인부담금과 운용수익은 기타소득세로 분리되어 과세됩니다.</p>
								<a href="#" style="color:#FFC045; font-size:2.5em; font-weight:bold">　<br>
								가입 신청하기</a>
					</div>
				</div>
			</div>
		</div>

		<!-- End Call To Action -->

		<!-- Start Footer -->

		<footer id="footer" class="site-footer">
			<div id="template-footer" role="contentinfo">
				<div class="container">
					<div class="row">
						<div class="col-md-4 to-animate">
							<h3 class="section-header section-title">About Us</h3>
							<p>53년간 고객들과 함께해온 포빅생명<br />윤리경영과 사회공원 활동으로 정직하게 성장하며<br />기업시민의 역할을 적극적으로 실천하겠습니다.</p>
							<p class="copy-right">&copy; 2020 POVIC life insurance<br>All Rights Reserved.<br>사업자등록번호 123-45-67890</p>
						</div>

						<div class="col-md-4 to-animate">
							<h3 class="section-header section-title">Our Address</h3>
							<ul class="contact-info">
								<li><span><i class="fa fa-home"></i>인천 연수구 컨벤시아대로 165 포빅타워</span></li>
								<li><span><i class="fa fa-phone"></i>+82 032-123-4567</span></li>
								<li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">help@poviclife.com</a></li>
							</ul>
						</div>

						<div class="col-md-4 to-animate">
							<h3 class="section-header section-title">Touch with Us</h3>
							<div id="quickmessage"></div>
							<form class="contact-form" method="post" action="#" name="contactform" id="contactform">
								<div class="form-group">
									<input type="text" name="name" class="form-control" id="quickname" placeholder="Name">
								</div>
								<div class="form-group">
									<input type="email" name="email" class="form-control" id="quickemail" placeholder="Email">
								</div>
								<div class="form-group">
									<textarea name="comments" class="form-control" id="comments" rows="7" placeholder="Message"></textarea>
								</div>
								<div class="form-group">
									<input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
								</div>
							</form>
						</div>

					</div>
				</div>
			</div>
		</footer>

		<!-- End Footer  -->

	</div>

	<!-- Back to top Link -->
	<div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!-- SLIDER REVOLUTION SCRIPTS  -->
<script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/revslider-custom.js')}}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.pack.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox-media.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.inview.min.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/classie.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.appear.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.countTo.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/smoothscroll.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script>

</body>

</html>