<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10"><![endif]-->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

	<title>포빅생명 - 최고를 향해</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icon/et-line-font.css') }}">

	<!-- reset CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	
	<!-- icon CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/Stroke-Gap-Icons.css') }}">

	<!-- Themify icons -->	
	<link rel="stylesheet" href="{{ url_for('static', filename='css/hover.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.css') }}">

	<!-- owl carousel CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.css') }}">

	<!-- Main style CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<!-- Responsive CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Start Loading -->

<section class="loading-overlay">
	<div class="Loading-Page">
		<h1 class="loader">Loading...</h1>
	</div>
</section>

<!-- End Loading  -->



<div class="content-wrap">
    <nav id="primary-menu" class="navbar style-1">
        <div class="row" style = "background-color:#FFC045;">
            <div class="container mobile-heading">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="logo" href="/">
						<img src="{{ url_for('static', filename='images/logo/logo2.png')}}">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
						<li>
							<a href="/" style = "font-size:1.45em;">HOME</a>
						</li>

                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size:1.3em; font-weight:bold">회사소개</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="about">포빅생명</a>
								</li>
								<li>
									<a href="our_agent">임원진</a>
								</li>

                            </ul>
                        </li>
                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size:1.3em; font-weight:bold">보험상품</a>
                            <ul class="dropdown-menu">
								<li>
									<a href="product_recommend">상품추천 서비스 <span class="new">New</span></a>
								</li>
                                <li>
                                    <a href="pricing_table">보험 상품</a>
								</li>
								<li>
                                    <a href="pension_product">퇴직 연금</a>
                                </li>
                                <li>
                                    <a href="insurance_product">보험계약 대출 서비스</a>
                                </li>
                            </ul>
                        </li>
                        <!-- li end -->
                        <li class="has-dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size:1.3em; font-weight:bold">고객센터</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="FAQs">자주 묻는 질문</a>
                                </li>
                                <li>
                                    <a href="contact">찾아오시는길</a>
                                </li>

                            </ul>
                        </li>
                        <!-- li end -->
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </nav>
    </header>
    <!-- End  Header -->

		<!-- Start Pages Title  -->

		<section id="Page-title" class="Page-title-Style2">
			<div class="color-overlay"></div>
			<div class="container inner-img">
				<div class="row">
					<div class="Page-title">
						<div class="col-md-12 text-center">
							<div class="title-text">
                                <h2 class="page-title">　<br>　<br>　<br>　<br>　<br>　<br>　<br>　<br>상품추천 서비스<br>　<br></h2>
                                <h6>포빅생명만의 특별한 상품추천 서비스를 체험해보세요. 간단한 정보 입력으로 최적의 보험상품을 추천합니다.<br>
                                    　<br>　<br>　<br>　</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- End Pages Title  -->

		<!-- Start 404 page -->

		<section id="get-a-quote" class="light-wrapper">
			<div class="container inner">
				<div class="row">
                    <div class="col-md-8 get-quote-section">

                        <div class="get-quote-form">

                            <form class="leave-comment contact-form" autocomplete="on" id="contact-form" name="contact-form" method="POST" action="product_recommend_result">
                                <fieldset>
                                    <div id="formstatus"></div>
                                    <div class="Contact-us">
                                        <div class="form-input col-md-3">
                                            <input type="text" id="name" name="name" placeholder="성함" required>
                                        </div>
                                        <div class="form-input col-md-4">
                                            <input type="text" id="birth" name="birth" placeholder="생년월일 ex) 1994.09.09" required>
                                        </div>
                                        <div class="form-input col-md-5">
                                            <input type="text" id="phoneNum" name="phoneNum" placeholder="전화번호 ex) 010-1234-5678" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="gender" name="gender" placeholder="성별 ex) 남 or 여" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="bp_min" name="bp_min" placeholder="최저혈압" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="bp_max" name="bp_max" placeholder="최고혈압" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="pulse_count" name="pulse_count" placeholder="평균맥박(1분당)" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="height" name="height" placeholder="신장(cm)" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="weight" name="weight" placeholder="몸무게(kg)" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="bust" name="bust" placeholder="가슴둘레(cm)" required>
                                        </div>
                                        <div class="form-input col-md-3">
                                            <input type="text" id="waist" name="waist" placeholder="허리 둘레(cm)" required>
                                        </div>
                                        <div class="form-input col-md-12">
                                            <input type="email" id="eamil" name="eamil" placeholder="상품 추천 결과를 메일로 받고 싶으신 분만 입력하시길 바랍니다.">
                                        </div>
                                        <div class="form-group col-md-10">
                                            <label for="sick_name" style="color:dimgray; font-weight:lighter">질병 여부(선택)</label>
                                            <select class="form-control" id="sick_name" name="sick_name" required>
                                                <option>이상 없음</option>
                                                <option>M79 (달리 분류되지 않은 기타 연조직장애)</option>
                                                <option>S33 (요추 및 골반의 관절 및 인대의 탈구, 염좌 및 긴장)</option>
                                                <option>J00 (급성 비인두염[감기])</option>
                                                <option>R10 (복부 및 골반 통증)</option>
                                                <option>M75 (어깨병변)</option>
                                                <option>K29 (위염 및 십이지장염)</option>
                                                <option>M54 (등통증)</option>
                                                <option>N64 (유방의 기타 장애)</option>
                                                <option>Z03 (의심되는 질병 및 병태를 위한 의학적 관찰 및 평가)</option>
                                                <option>S13 (목부위의 관절 및 인대의 탈구, 염좌 및 긴장)</option>
                                                <option>R51 (두통)</option>
                                                <option>K30 (기능성 소화불량)</option>
                                                <option>E07 (갑상선의 기타 장애)</option>
                                                <option>N76 (질 및 외음부의 기타 염증)</option>
                                                <option>T14 (상세불명의 신체부위의 손상)</option>
                                                <option>K31 (위 및 십이지장의 기타 질환)</option>
                                                <option>S93 (발목 및 발 부위의 관절 및 인대의 탈구, 염좌 및 긴장)</option>
                                                <option>M51 (기타 추간판장애)</option>
                                                <option>M23 (무릎의 내부장애)</option>
                                                <option>S43 (견갑대의 관절 및 인대의 탈구, 염좌 및 긴장)</option>
                                                <option>D12 (결장, 직장, 항문 및 항문관의 양성 신생물)</option>
                                                <option>S83 (무릎의 관절 및 인대의 탈구, 염좌 및 긴장)</option>
                                                <option>R12 (속쓰림)</option>
                                                <option>H57 (눈 및 눈부속기의 기타 장애)</option>
                                                <option>R42 (어지럼증 및 어지럼)</option>
                                                <option>R07 (목구멍 및 가슴의 통증)</option>
                                                <option>I10 (본태성(원발성) 고혈압)</option>
                                                <option>E78 (지질단백질대사장애 및 기타 지질증)</option>
                                                <option>S63 (손목 및 손부위의 관절 및 인대의 탈구, 염좌 및 긴장)</option>
                                                <option>A09 (감염성 및 상세불명 기원의 기타 위장염 및 결장염)</option>
                                                <option>S92 (발목을 제외한 발의 골절)</option>
                                                <option>K21 (위-식도역류병)</option>
                                                <option>M50 (경추간판장애)</option>
                                                <option>K59 (기타 기능성 장장애)</option>
                                                <option>B02 (대상포진)</option>
                                                <option>K63 (장의 기타 질환)</option>
                                                <option>K76 (간의 기타 질환)</option>
                                                <option>N71 (자궁경부를 제외한 자궁의 염증성 질환)</option>
                                                <option>R03 (진단명 없는 혈압수치이상)</option>
                                                <option>J02 (급성 인두염)</option>
                                                <option>K92 (소화계통의 기타 질환)</option>
                                                <option>M17 (무릎관절증)</option>
                                                <option>N93 (기타 이상 자궁 및 질 출혈)</option>
                                                <option>L30 (기타 피부염)</option>
                                                <option>M48 (기타 척추병증)</option>
                                                <option>R50 (기타 및 원인미상의 열)</option>
                                                <option>J03 (급성 편도염)</option>
                                                <option>N30 (방광염)</option>
                                                <option>N92 (과다, 빈발 및 불규칙 월경)</option>
                                                <option>R11 (구역 및 구토)</option>
                                                <option>H93 (달리 분류되지 않은 귀의 기타 장애)</option>
                                                <option>C73 (갑상선의 악성 신생물)</option>
                                                <option>M81 (병적 골절이 없는 골다공증)</option>
                                                <option>R05 (기침)</option>
                                                <option>N20 (신장 및 요관의 결석)</option>
                                                <option>K05 (치은염 및 치주질환)</option>
                                                <option>L50 (두드러기)</option>
                                                <option>E03 (기타 갑상선기능저하증)</option>
                                              </select>
                                        </div>
                                        <div class="form-submit col-md-2" style="margin-bottom: 2em;">
                                            <a href="javascript:void(0)" class="btn common-btn" style="background-color:#FFC045; font-weight:700; font-size:1.15em; margin-top: 1.4em;" onclick="clickFunction()">상품 검색</a>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                            <div id="dataTarget" class="col-md-12" style="padding:0; padding-left: 1em;"></div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="single-team-icons">
                            <img alt="" src="{{ url_for('static', filename='images/recommend.png')}}">
                        </div>
                    </div>
				</div>
			</div>
		</section>

		<!-- End  404 page -->

    <!-- Start Footer -->

    <footer id="footer" class="site-footer">
        <div id="template-footer" role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 to-animate">
                        <h3 class="section-header section-title">About Us</h3>
                        <p>53년간 고객들과 함께해온 포빅생명<br />윤리경영과 사회공원 활동으로 정직하게 성장하며<br />기업시민의 역할을 적극적으로 실천하겠습니다.</p>
                        <p class="copy-right">&copy; 2020 POVIC life insurance<br>All Rights Reserved.<br>사업자등록번호 123-45-67890</p>
                    </div>

                    <div class="col-md-4 to-animate">
                        <h3 class="section-header section-title">Our Address</h3>
                        <ul class="contact-info">
                            <li><span><i class="fa fa-home"></i>인천 연수구 컨벤시아대로 165 포빅타워</span></li>
                            <li><span><i class="fa fa-phone"></i>+82 032-123-4567</span></li>
                            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="#">help@poviclife.com</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 to-animate">
                        <h3 class="section-header section-title">Touch with Us</h3>
                        <div id="quickmessage"></div>
                        <form class="contact-form" method="post" action="#" name="contactform" id="contactform">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="quickname" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" id="quickemail" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <textarea name="comments" class="form-control" id="comments" rows="7" placeholder="Message"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="btn-submit" class="btn btn-send-message btn-md" value="Send Message">
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </footer>

		<!-- End Footer  -->

	</div>

	<!-- Back to top Link -->
	<div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>
</div>

<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!-- SLIDER REVOLUTION SCRIPTS  -->
<script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.plugins.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/jquery.themepunch.revolution.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='rs-plugin/js/revslider-custom.js')}}"></script>


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nicescroll.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox.pack.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.fancybox-media.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.inview.min.js')}}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.custom.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/classie.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.appear.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.countTo.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/smoothscroll.js')}}"></script>

<!--  Form validate -->
<script src="{{ url_for('static', filename='js/jqueryvalidate/jquery.validate.min.js')}}"></script>

<!--  Form submit  -->
<script src="{{ url_for('static', filename='js/jqueryform/jquery.form.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/custom.js')}}"></script>


<script>
    function clickFunction(){
        $.ajax({
            url: "/product_recommend_result",
            data: $('#contact-form').serialize(),
            type: "POST",        
            dataType: "json"               
        })
        .done(function(json) {
            const text = '<div class="col-md-10" style="display: inline-block; border: 1px #ddd solid; border-radius: 2px;"><h6>' + '상품 추천 결과 : ' + json.data + '</h6></div>';
            const button = '<div class="col-md-2" style="display: inline-block;""><a class="btn common-btn" style="background-color: #FFC045; font-weight: 700; font-size: 1.15em; margin-top: 0em; letter-spacing: .05em" href="/pricing_table">바로가기</a></div>';
            $('#dataTarget').html(text + button);
        })  
        .fail(function(xhr, status, errorThrown) {
            alert(status + ' ' + '에러 발생!');
            console.log(xhr);
        });
    }
</script>

</body>



</html>